body{
	font-family:'Noto Sans TC',sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:'Noto Sans TC',sans-serif;
	
}

.subheading {
    font-family:'Noto Sant TC', sans-serif;
    font-size:1.2rem;
    font-weight:normal;
}

h1, h2, h3, h4, h5, h6, .subheading{
    text-transform:none;
}

h1, .h1 {
    font-size: 5rem;
}

p.lead {
    font-size: 1.2rem;
}

.bg-primary {
    background-color: #010105!important;
    background-image: url(../assets/img/gray-floral.png);
}

.text-primary {
    color: #010105!important;
}

a {
    color: #010105;
}

td{border-bottom:1px solid #3f294a;}
td{border:1px solid #2a5d44;}
