body{
	font-family:'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6{
	font-family:'Noto Sans TC',sans-serif;
}

.subheading{
	font-family:'Noto Sant TC', sans-serif;
}

.bg-primant{
	background-color:#0081f2!important;
	background-image:url("../assets/img/dark-wood.png");
